.footer__links {
  margin-top: 10px;
}

.footer__links a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 700;
  line-height: normal;
}

.footer__links a:hover {
  opacity: 0.7;
}
