.header__clear_button {
  width: 80px;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(148, 8, 8, 1) 0%,
    rgba(121, 9, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Pokemon Solid";
  margin-left: 10%;
}

.header__clear_button:hover {
  opacity: 0.7;
}
